body {
	background: url("../images/asurasloading.jpg") fixed no-repeat;
	font-family:arial;
	margin:0;
	}

header {
	background:#311B92;
	padding-bottom: 0.01px;
	}

header h1 {
	font-family:fantasy;
	font-size: 60px;
	margin:0 0 0 10px;
	color:#651FFF;
	}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #651FFF;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 25px;
	padding: 10px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
	}

.button:hover span {
	padding-right: 25px;
	}

.button:hover span:after {
	opacity: 1;
	right: 0;
	}

#ensemble {
	background: url("../images/tech.jpg");
	font-size: 20px;
	margin: 50px 150px;
	border-radius: 10px;
	padding: 0 10px 5px 10px;

	}

h2 {
	font-family: fantasy;
	font-size: 30px;
	padding-top: 15px;
	margin-left: 30px;
	}

img {
	border-radius: 10px;
	}

	#pics {
		display: flex;
		align-items: center;
		justify-content: center;
		background-repeat: no-repeat;
		margin-bottom: 30px;
	}

figure {
	display: inline-block;
	text-align: center;
	font-style: italic;
	}
