body {
	background: url("../images/gw2.jpg") fixed  no-repeat;
	font-family:arial;
	margin:0;
	}

header {
	background:#494343;
	padding:1px 0 0.01px 0;
	}

header h1 {
	font-family:fantasy;
	font-size: 40px;
	margin:0 0 0 5px;
	}

header ul li {
	background: #222;
	color: white;
	display: inline-block;
	padding: 10px 15px;
	margin: 0px 0px 0 10px;
	border-radius:10px;
	}

header ul li a {
	color: white;
	}

p {
	margin: 100px 700px 0 15px;
	font-family: fantasy;
	font-size: 150%;
	font-weight: bold;
	text-shadow: 2px 2px 0 #FFFFFF;
	}

p background {
	opacity:0.2;
	}

#map {
	display: flex;
  align-items: center;
  justify-content: center;
	background-image: url(images/tyriemap.png);
	background-repeat: no-repeat;
}

img {
	border-radius: 20px;
}
